.projects .card-title {
  font-size: 1.25rem;
}

blockquote {
  font-size: 1rem; // Resets the blockquote font size to match regular text.
}


.uniform-image-grid img {
  width: 100%;
  object-fit: cover; // This crops the image to fit, preventing distortion
}