.projects .card-title {
  font-size: 1.25rem;
}

blockquote {
  font-size: 1rem; // Resets the blockquote font size to match regular text.
}

.row-equal-height-grid {
  display: flex;
  flex-wrap: wrap;

  // Target the direct column children
  & > .col-sm-8,
  & > .col-sm-4 {
    display: flex;
    flex-direction: column;
  }

  // Force the figure wrapper to stretch
  .figure {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
  }

  // Force the link and image to stretch
  .figure a,
  .figure img {
    flex-grow: 1;
    height: 100%;
    object-fit: cover; // Crop image to fit, prevent distortion
  }
}