.projects .card-title {
  font-size: 1.25rem;
}

blockquote {
  font-size: 1rem; // Resets the blockquote font size to match regular text.
}


.col-sm img {
  width: 100%; /* Ensure images scale to their column width */
  height: 200px; /* Force a fixed height for uniformity */
  object-fit: cover; /* Crop edges to fit the container */
}
